*{
    margin: 0;
    padding: 0;
}
.commonPage{
    /*width: 100vw;*/
    background: black;
    overflow-x: hidden;
}
.app{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.headerLeft{
    position: relative;
    z-index: 10000000000000;
    background-color: black;
    height: 100vh;
    /*opacity: 0.08;*/
}
.appRight{
    position: absolute;

}
